{% extends 'admin.html' %}
{% block body %}
<h3 class="jumbotron bg-warning text-center">Update Motif</h3>
<div class="row ">
        <div class="form col-md-8 offset-2">
    <form method="POST" action="/update/{{ motif.id }}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="nom">Nom</label>
            <input class="form-control" type="text" name="nom" value="{{ motif.nom }}" required="required"/> </div>
            <div class="form-group"><input class="form-control" type="file" name="motif_Img" id=""></div>
            <div class="form-group"><label for="description">Description</label>
            <textarea class="form-control" name="description" id="" cols="30" rows="10" value="{{ motif.description }}" required="required"></textarea></div>
            <button type="submit" class="btn btn-warning "><span class="glyphicon glyphicon-edit"></span> Update</button>
       
    </form>
        </div>
</div>
{% endblock %}